@model HudsonLimaAteliware.Models.Reposit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reposit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasDownloads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasDownloads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasIssues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasIssues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.htmlURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.htmlURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InseridoNoBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InseridoNoBD)
        </dd>


    </dl>
</div>
<p>
   <!--Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | -->
    @Html.ActionLink("Back to List", "Index")
</p>
